body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
 
}
html {
  scroll-behavior: smooth;
}


.header{
     display: flex;
}
.home{
    background-image: url("/ayodhya.webp");
    height: 45vw;
    background-position: center;
     background-size: cover;
}
.logo{
    height: 5rem;
    width: 5rem;
    border-radius: 5rem;
    margin: 2rem;
}
.option ul {
    display: flex;
    gap: 2rem;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 20rem;
  }
  
  .option ul a {
    position: relative;
    text-decoration: none;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 400;
    padding-bottom: 2px;
  }
  
  .option ul a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    top: 1.5rem;
    height: 0.1rem;
    background-color: #E82574;
    transition: width 0.3s ease;
  }
  
  .option ul a:hover::after {
    width: 100%;
  }
  
.header-btn{
  color: #ffffff;
  background-color: #E82574;
  border: none;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  margin-top: 1rem;
  margin-right: 5rem;
}
.left{
  margin-left: auto;
  margin-right: 2rem;
}
.content {
    color: #ffffff;
    position: relative;
    top: 17%;
    left: 40%;
    
}
.top{
    font-size: 1.5rem;
    font-weight: 400;
    color: #e6e0e0;
    animation: fadeInUp 1s ease forwards;
}
.bottom{
    font-size: 4rem;
    font-weight: 550;
    margin-left: -12%;
    animation: fadeInUp 3s ease forwards;
}
.content span{
    color: #E82574;
    font-weight: 550;
}

/* fly*/

.fly{
    width: 80%;
    height: 15%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    position: relative;
    top: 45%;
    left: 50%;
  transform: translateX(-50%);
    box-shadow: 0rem 0.5rem 1rem #9f9c9c;
}
.fly-btn{
    color: #ffffff;
  background-color: #E82574;
  border: none;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  
}

/*about*/
.img{
   height: 15%;
   width: 35%;
   border-radius: 0.5rem;
   animation: fadeInUp 1s ease forwards;
}

.img-div{
  margin: 10rem auto 0 auto;
  max-width: 80%;
    display: flex;
}
.about-content{
   width: 40%;
   margin: 2rem 1rem 0rem 10rem;
   
}
.about-content h3{
font-size: 1rem ;
font-weight: 300;
animation: fadeInUp 1s ease forwards;
}

.about-content h3 span{
    color: #E82574;
}
.about-content .black{
 font-size: 2.7rem;
 font-weight: 500;
 margin-top: 1rem;
 animation: fadeInUp 6s ease forwards;
}
.about-content .white{
  color: #868181;
  font-size: 1.1rem;
  font-size: 300;
  padding: 0.5rem;
  display: flex;
  text-align: justify;
  animation: fadeInUp 3s ease forwards;
}
.about-content p a{
  text-decoration: none;
  color: #e90661;
}
.about-btn{
  color: #ffffff;
  background-color: #E82574;
  border: none;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  margin-top:1.5rem ;
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeInUP {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/*rooms*/
.room-head{
  margin: 5rem 0rem 0rem 10rem;
  font-size: 1rem;
  font-weight: 400;
}
.room-head span{
  color: #E82574;
  font-size: 1rem;
}
.room-subhead{
  font-size: 3rem;
  font-weight: 600;
  margin: 3rem 0rem 0rem 10rem;
}
.room-cards{
  display: flex;
 margin-left: 5rem;
}
.card {
   box-shadow: 3px 3px 2rem rgb(126, 123, 123);
   height: 33.5vw;
   width: 55vh;
   margin: 5rem 0rem 0rem 3rem;
   border-radius: 0.5rem ;
   position: relative;
}
.card img{
  height: 20vw;
  width: 55vh;
  border-radius: 0.5rem 0.5rem 0rem 0rem;
}
.card img:hover{
  transform: scale(1.03);
}
.room-p{
  font-size: 1.2rem;
  margin:  1rem 1rem;
}
.room-p2{
  font-size: 1rem;
  color: #868181;
padding:  0rem 1rem;
  
}
.room-p2 span{
  color: #E82574;
  font-weight: 500;
}
.room-btn{
  color: #ffffff;
  background-color: #E82574;
  border: none;
  padding: 0.8rem 1.2rem;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  margin: 0.5rem;
}
.icon {
  position: absolute;
  bottom: 43%;
  right: 10px;
  z-index: 2;
  display: flex;
  gap: 10px;


}

.icon-1 , .icon-2, .icon-3{
  font-size: 2.5rem;
  cursor: pointer;
  background-color: #ffffff;
  padding: 0.5rem;
  border-radius: 2rem;
}
.icon-1{
  color: #fa7cae;
}
.icon-2{
  color: rgb(231, 133, 231);
}
.icon-3{
  color: rgb(78, 209, 245);
}

/** services */
.services{
  background-image: url("/service.jpg");
  background-position: center;
  background-size: cover;
  height: 35vw;
  margin-top: 5rem;
  position: relative;
}
.service-content{
background-color: #ffffff;
height: 35vw;
width: 40%;
position: absolute;
left: 40%;
}
.service-head{
  margin: 2rem 0rem 0rem 5rem;
  font-size: 1.2rem;
  font-weight: 400;
}
.service-content span{
  color: #E82574;
  font-size: 1rem;
}
.service-p{
  font-size: 3rem;
  font-weight: 500;
  padding: 1rem;
  margin-left: 3.5rem;
}

.service-icon-1{
   background-color: rgb(203, 244, 255);
   color: rgb(22, 136, 136);
}
.service-icon-1 , .service-icon-2, .service-icon-3, .service-icon-4{
  padding: 0.5rem;
  border-radius: 2rem;
  font-size: 2.8rem;
  margin: 0.5rem 0rem 0rem 3rem;
}
.service-icon-2{
  background-color: pink;
  color: rgb(233, 102, 124);
}
.service-icon-3{
  color: rgb(216, 74, 216);
  background-color: rgb(255, 168, 255);
}
.service-icon-4{
  color: rgb(247, 96, 96);
  background-color: rgb(247, 190, 190);
}
.service-icons p{
  display: flex;
  margin-top: 1rem;
}
.icon-p{
  font-size: 1.2rem;
  font-weight: 400;
  margin: 1.5rem 0rem 0rem 2rem ;
  display: flex;
  justify-content: start;
}

/** middle*/
.booking{
  height: 9vw;
  width: 78%;
  box-shadow: 3px 3px 10px rgb(137, 135, 135);
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 5rem 0rem 0rem 11rem;
}

.booking-p-2{
  color: #807c7c;
  font-weight: 400;
  font-size: 1.2rem;
  font-weight: 400;
}
.booking-p-1{
  margin: 0rem 0rem 1rem 3rem;
  font-size: 1.5rem;
  font-weight: 600;
}
/*gallary*/

.gallary-head{
  margin: 2rem 0rem 5rem 35rem;
  font-size: 1.8rem;
  font-weight: 500;
}
.gallary-head span{
  color: #E82574;
  font-size: 1rem;
}
.gallary{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(3, 1fr));
 
  padding: 5rem;
}
.gallary-img{
 
  border-radius: 16px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gallery-img img:hover {
  transform: scale(1.03);
}
.gallery-img img {
  height: 20vw;
  width: 55vh;
  transition: transform 0.3s ease, filter 0.3s ease;
  border-radius: 0.5rem;
  margin: 0.2rem;
}
#id-1{
   height: 20vw;
   width: 50%;
}
#id-2{
  height: 20vw;
  width: 45%;
}
#id-3{
  width: 45%;
}
#id-10{
  height: 20vw;
  width: 20%;
}
#id-4{
  height: 22vw;
  width: 55%;
}
#id-6{
width: 40%;
}
#id-7 , #id-8 , #id-9{
  width: 32%;
}

/** contact*/
.contact {
  display: flex;
  justify-content: center; /* horizontally center */
}
.contact-left{
  width: 25%;
  background-color: #E82574;
  border-radius: 2rem;
  height: 33vw;
  margin-right: -12rem;
  margin-top: -1rem;
}
.contact-icon{
  font-size: 2.5rem;
  color: #dddada;
margin: -0.4rem 1rem 0rem 2rem ;
}
.contact-p {
  font-size: 1rem;
display: flex;
color: #ffffff;
margin: 2rem 0rem 0rem 0rem;

}
.contact-footer{
  display: flex;
  font-size: 1.5rem;
  font-weight: 600;
  gap: 1rem;
  margin: 8rem 1rem 0.5rem 7rem;
  color: #ffffff;
}
.contact-head{
  font-size: 1.8rem;
  font-weight: 500;
  color: #ffffff;
  margin: 5rem 0rem 1rem 3rem ;
}
.input-wrapper {
  position: relative;
  margin: 2rem 0rem 0rem 3rem ;
  
}
.contact-element{
  margin-left: 10rem;
}
.contact-form{
  height: 33vw;
  box-shadow: 0.3rem 0.3rem 0.2rem rgb(137, 135, 135);
  width: 60%;
  border-radius: 0rem 1rem 1rem 1rem;
}
.input-wrapper input,
.input-wrapper textarea {
  width: 70%;
  padding: 1rem;
  font-size: 1rem;
  border: none;
}
#textarea {
  width: 80%;
}

.input-wrapper span {
position: absolute;
  left: 1rem;
  top: 1rem;
  color: #545454;
  font-size: 1rem;
  transition: 0.3s ease;
  pointer-events: none;
 
}
input,textarea:focus {
  border-color: #E82574;
  outline:none;
}
.row {
  margin-top: 0.5rem;
  display: flex;
}

/* When input is focused or has content */
.input-wrapper input:focus + span,
.input-wrapper input:not(:placeholder-shown) + span,
.input-wrapper textarea:focus + span,
.input-wrapper textarea:not(:placeholder-shown) + span {
  top: -10px;
  left: 0.3rem;
  font-size: 1rem;
  color: #E82574;
  background: #fff;
  padding: 0 5px;
}
.contact-btn{
  color: #ffffff;
  background-color: #E82574;
  border: none;
  padding: 0.8rem 1.2rem;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  margin: 3rem 5rem 10rem 15rem;
  width: 25%;
}
.form-head{
  font-size: 1.5rem;
  font-weight: 500;
  color: #E82574;
  margin: 2rem 20rem; 
}



