body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
 
}
html {
  scroll-behavior: smooth;
}
.header{
     display: flex;
     flex-wrap: wrap;
     justify-content: space-evenly;
     align-items: center;
     gap: 5px;
}
.home{
    background-image: url("/ayodhya.webp");
    height: 45vw;
    background-position: center;
     background-size: cover;
     position: relative;
}
.logo{
    height: 5rem;
    width: 5rem;
    border-radius: 5rem;
    margin: 2rem;
}
.option ul {
    display: flex;
    gap: 2rem;
    list-style: none;
    justify-content: space-between;
    align-items: center; 
  }
  
  .option ul a {
    position: relative;
    text-decoration: none;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 400;
    padding-bottom: 2px;
  }
  
  .option ul a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    top: 1.5rem;
    height: 0.1rem;
    background-color: #E82574;
    transition: width 0.3s ease;
  }
  
  .option ul a:hover::after {
    width: 100%;
  }
  
.header-btn,.fly-btn{
  color: #ffffff;
  background-color: #E82574;
  border: none;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  font-size: 1.2rem;
 
}
.center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.content{
  margin: 5rem 0rem 0rem 0rem;
}
.top{
  font-size: 1.8rem ;
  color: #ddd4d4;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bottom{
  font-size: 5rem;
  color: #ffffff;
  font-weight: 600
}
.bottom span{
  color: #E82574;
}



/* fly*/

.fly{
  position:absolute;
    width: 80%;
    height: 15%;
     left: 10%;
     bottom: -4rem;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    box-shadow: 0rem 0.5rem 1rem #9f9c9c;
}




/* responsive */
@media (max-width:768px) {
  .top{
  font-size: 1rem ;
  color: #ddd4d4;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bottom{
  font-size: 3rem;
  color: #ffffff;
  font-weight: 600
}
.home{
    height: 80vw;
}
.header-btn{
  display: none;
}

}
@media (max-width:480px) {
  
  .option ul {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    list-style: none;
    justify-content: center;
    align-items: start; 
  }
  .header{
background-color: #E82574;
  }
  .home{
    height: 80vh;
    
  }
  .bottom{
    font-size: 2rem;
  }
}
/*about*/
/** services */

/*gallary*/
/** contact*/
/** map*/
/**footer*/
