.contact {
  display: flex;
  justify-content: center; /* horizontally center */
}
.contact-left{
  width: 25%;
  background-color: #E82574;
  border-radius: 2rem;
  height: 33vw;
  margin-right: -12rem;
  margin-top: -1rem;
}
.contact-icon{
  font-size: 2.5rem;
  color: #dddada;
margin: -0.4rem 1rem 0rem 2rem ;
}
.contact-p {
  font-size: 1rem;
display: flex;
color: #ffffff;
margin: 2rem 0rem 0rem 0rem;

}
.contact-footer{
  display: flex;
  font-size: 1.5rem;
  font-weight: 600;
  gap: 1rem;
  margin: 8rem 1rem 0.5rem 7rem;
  color: #ffffff;
}
.contact-head{
  font-size: 1.8rem;
  font-weight: 500;
  color: #ffffff;
  margin: 5rem 0rem 1rem 3rem ;
}
.input-wrapper {
  position: relative;
  margin: 2rem 0rem 0rem 3rem ;
  
}
.contact-element{
  margin-left: 10rem;
}
.contact-form{
  height: 33vw;
  box-shadow: 0.5rem 1rem 1rem rgb(137, 135, 135);
  width: 60%;
  border-radius: 0rem 1rem 1rem 1rem;
}
.input-wrapper input,
.input-wrapper textarea {
  width: 70%;
  padding: 1rem;
  font-size: 1rem;
  border: none;
}
#textarea {
  width: 80%;
}

.input-wrapper span {
position: absolute;
  left: 1rem;
  top: 1rem;
  color: #545454;
  font-size: 1rem;
  transition: 0.3s ease;
  pointer-events: none;
 
}
input,textarea:focus {
  border-color: #E82574;
  outline:none;
}
.row {
  margin-top: 0.5rem;
  display: flex;
}

/* When input is focused or has content */
.input-wrapper input:focus + span,
.input-wrapper input:not(:placeholder-shown) + span,
.input-wrapper textarea:focus + span,
.input-wrapper textarea:not(:placeholder-shown) + span {
  top: -10px;
  left: 0.3rem;
  font-size: 1rem;
  color: #E82574;
  background: #fff;
  padding: 0 5px;
}
.contact-btn{
  color: #ffffff;
  background-color: #E82574;
  border: none;
  padding: 0.8rem 1.2rem;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  margin: 3rem 5rem 10rem 15rem;
  width: 25%;
}
.form-head{
  font-size: 1.5rem;
  font-weight: 500;
  color: #E82574;
  margin: 2rem 20rem; 
}
@media (max-width:768px) {
  .contact-form{
  height: 80vh;
  width: 90%;
}
.form-head{
  font-size: 1.2rem;
  margin: 2rem 13rem; 
}
.contact-left{
  width: 30%;
  background-color: #E82574;
  border-radius: 2rem;
  height: 70vh;
  margin-right: -12rem;
  margin-top: -1rem;
}
.contact-p {
  font-size: 0.8rem;
}
.contact-icon{
  font-size: 1.5rem;
  color: #dddada;
margin: -0.4rem 1rem 0rem 2rem ;
}
.contact-footer{
  display: flex;
  font-size: 1.5rem;
  font-weight: 600;
  gap: 1rem;
  margin: 8rem 1rem 0.5rem 3rem;
  color: #ffffff;
}
}
@media (max-width:480px) {
  .contact-form{
  height: 68vh;
  width: 90%;
  margin-left: 1rem;
  background-color: #ffffff;
}
.contact-element{
  margin-left: -1rem;
}
.contact{
  flex-direction: column;
  background-color: #E82574;
  width: 100%;
}
.form-head{
  font-size: 1.2rem;
  margin: 2rem 1rem; 
}
.contact-left{
  width: 60%;
  height: 70vh;
  margin: 0rem 2rem;

}
.contact-p {
  font-size: 0.8rem;
}
.contact-icon{
  font-size: 1.5rem;
  color: #dddada;
margin: -0.4rem 1rem 0rem 2rem ;
}
.contact-footer{
  display: flex;
  font-size: 1.5rem;
  font-weight: 600;
  gap: 1rem;
  margin: 8rem 1rem 0.5rem 5rem;
  color: #ffffff;
}
.input-wrapper input,
.input-wrapper textarea {
  width: 10%;
  padding: 1rem;
  font-size: 0.5rem;
  border: none;
}
}