
.gallary-head{
  margin: 2rem 0rem 5rem 35rem;
  font-size: 1.8rem;
  font-weight: 500;
}
.gallary-head span{
  color: #E82574;
  font-size: 1rem;
}
.gallary{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(3, 1fr));
  padding: 5rem;
}
.gallary-img{
 
  border-radius: 16px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gallery-img img:hover {
  transform: scale(1.03);
}
.gallery-img img {
  height: 20vw;
  width: 55vh;
  transition: transform 0.3s ease, filter 0.3s ease;
  border-radius: 0.5rem;
  margin: 0.2rem;
}
#id-1{
   height: 20vw;
   width: 50%;
}
#id-2{
  height: 20vw;
  width: 45%;
}
#id-3{
  width: 45%;
}
#id-10{
  height: 20vw;
  width: 20%;
}
#id-4{
  height: 22vw;
  width: 55%;
}
#id-6{
width: 40%;
}
#id-7 , #id-8 , #id-9{
  width: 32%;
}
@media (max-width:768px) {
  .gallary-head{
  margin: 2rem 0rem 5rem 5rem;
}
.gallary{
  grid-template-columns: repeat(auto-fit, minmax(2, 1fr));
  padding: 2rem;
}
.gallery-img img:hover {
  transform: scale(1.03);
}
#id-1{
   height: 20vw;
   width: 50%;
}
#id-2{
  height: 20vw;
  width: 45%;
}
#id-3{
  width: 46%;
  height: 30vw;
}
#id-10{
  height: 30vw;
  width: 40%;
}
#id-4{
  height: 30vw;
  width: 55%;
}
#id-5{
  height: 30vw;
  width: 45%;
}
#id-6{
width: 48%;
}
#id-7 , #id-8 , #id-9{
  width: 48%;
}

}
@media (max-width:480px) {
  .gallary{
  grid-template-columns: repeat(auto-fit, minmax(1, 1fr));
  padding: 1rem;
}
.gallery-img img:hover {
  transform: scale(1.03);
}
#id-1,#id-2,#id-5,#id-3,#id-4,#id-6,#id-7,#id-8,#id-9,#id-10{
   height: 40vw;
  width: 95%;
}

}